.custom-button:hover {
  background-color: rgba(143, 153, 168, 0.15) !important;
}

.custom-button {
  background-color: #fff !important;
}

.button-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.go1268125134 {
  height: calc(100vh - 64px) !important;
}
